{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    ["import-rename", {
      "^semantic-ui-react/src$": "semantic-ui-react/dist/commonjs",
      "^deskproapps-sdk-core$": "deskproapps-sdk-core/dist/deskproapps-sdk-core"
    }],
    "transform-class-properties",
    "transform-object-assign",
    "transform-react-inline-elements",
    [ "transform-react-remove-prop-types" ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": false
      }
    ]
  ]
}
