language: node_js
node_js:
- '6'
install:
  - npm install && npm install @deskproapps/dpat@0.5.2
script:
  - npm test && npm run make-clean && npm run make-lib && npm run make-dist
deploy:
  provider: npm
  api_key: $NPM_TOKEN
  email: radu.helstern@gmail.com
  skip_cleanup: true
  on:
    tags: true
